<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
 <div align="center" id="regiest">
     <h1>重置密码</h1>
     <table>
         <tr>
             <td>新密码:</td>
             <td><input type="text" placeholder="请输入新密码" v-model="entity.newPassword"></td>
         </tr>
         <tr>
             <td></td>
             <td><input type="text" placeholder="请再次输入密码" v-model="entity.twoPassword"></td>
         </tr>
         <tr>
             <td colspan="2" align="center"><button @click="resetPasswd">保存密码</button></td>
         </tr>
     </table>
 </div>
 <script src="vuejs/vue.min.js"></script>
 <script src="vuejs/axios-0.18.0.js"></script>
 <script src="vuejs/myvue/user_register.js"></script>
</body>
</html>